Flask==3.0.3
flask-cors==3.0.10
Pillow==10.4.0
torch==2.4.1
opencv-python==4.10.0.84
numpy==2.1.1
trimesh==4.4.9
keybert==0.8.5
requests==2.32.3
boto3==1.35.24
python-dotenv==1.0.1
transformers==4.35.0
tqdm==4.66.5